/* Godot Engine default theme style
 * ================================ */

.godot {
	color: #e0e0e0;
	background-color: #3b3943;
	background-image: linear-gradient(to bottom, #403e48, #35333c);
	border: 1px solid #45434e;
	box-shadow: 0 0 1px 1px #2f2d35;
}

button.godot {
	font-family: 'Droid Sans', Arial, sans-serif; /* override user agent style */
	padding: 1px 5px;
	background-color: #37353f;
	background-image: linear-gradient(to bottom, #413e49, #3a3842);
	border: 1px solid #514f5d;
	border-radius: 1px;
	box-shadow: 0 0 1px 1px #2a2930;
}

button.godot:hover {
	color: #f0f0f0;
	background-color: #44414e;
	background-image: linear-gradient(to bottom, #494652, #423f4c);
	border: 1px solid #5a5667;
	box-shadow: 0 0 1px 1px #26252b;
}

button.godot:active {
	color: #fff;
	background-color: #3e3b46;
	background-image: linear-gradient(to bottom, #36343d, #413e49);
	border: 1px solid #4f4c59;
	box-shadow: 0 0 1px 1px #26252b;
}

button.godot:disabled {
	color: rgba(230, 230, 230, 0.2);
	background-color: #3d3d3d;
	background-image: linear-gradient(to bottom, #434343, #393939);
	border: 1px solid #474747;
	box-shadow: 0 0 1px 1px #2d2b33;
}


